<a href="https://colab.research.google.com/github/Hanif-Abdillah-Alatas/Praktikum-Algoritma-Pemrograman/blob/main/Week_2_Algoritma_Pemrograman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Weekly Exercise 1**

In [ ]:
panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2*(panjang+lebar)
luas = panjang*lebar
volume = panjang*lebar*tinggi

print("Panjang =", panjang)
print("Lebar =", lebar)
print("Tinggi =", tinggi)
print("Keliling =", keliling)
print("Volume =", volume)

Panjang = 20.5
Lebar = 25
Tinggi = 10
Keliling = 91.0
Volume = 5125.0

**Weekly Exercise 2**

In [ ]:
k1_sfr = 85     #k1=kalkulus 1
ms_sfr = 75     #ms=metode statistika
k1_amd = 80
ms_amd = 90
k1_adt = 75
ms_adt = 80
k1_nda = 95
ms_nda = 80
k1_wda = 85
ms_wda = 85
k1_hnf = 75
ms_hnf = 90
k1_and = 70
ms_and = 75
k1_dnr = 85
ms_dnr = 85
k1_hma = 80
ms_hma = 75

rataan_sfr = (k1_sfr+ms_sfr)/2
jumlah_hnfand = (k1_hnf+ms_hnf)+(k1_and+ms_and)
rataank1_4 = (k1_wda+k1_dnr+k1_hma+k1_nda)/4
rataanms_4 = (ms_wda+ms_dnr+ms_hma+ms_nda)/4
rataan_k1 = (k1_sfr+k1_amd+k1_adt+k1_nda+k1_wda+k1_hnf+k1_and+k1_dnr+k1_hma)/9
rataan_ms = (ms_sfr+ms_amd+ms_adt+ms_nda+ms_wda+ms_hnf+ms_and+ms_dnr+ms_hma)/9

print("1. Rata-Rata Nilai Shafira =", rataan_sfr)
print("2. Jumlah Semua Nilai Hanif dan Andi =", jumlah_hnfand)
print("3. Rata-Rata Nilai Kalkulus 1 Widya, Dhanar, Hikma, dan Nedia =", rataank1_4)
print("   Rata-Rata Nilai Metode Statistika Widya, Dhanar, Hikma, dan Nedia =", rataanms_4)
print("4. Rata-Rata Nilai Kalkulus 1 Semua Mahasiswa=", rataan_k1)
print("5. Rata-Rata Nilai Metode Statistika Semua Mahasiswa =", rataan_ms)

1. Rata-Rata Nilai Shafira = 80.0
2. Jumlah Semua Nilai Hanif dan Andi = 310
3. Rata-Rata Nilai Kalkulus 1 Widya, Dhanar, Hikma, dan Nedia = 86.25
   Rata-Rata Nilai Metode Statistika Widya, Dhanar, Hikma, dan Nedia = 81.25
4. Rata-Rata Nilai Kalkulus 1 Semua Mahasiswa= 81.11111111111111
5. Rata-Rata Nilai Metode Statistika Semua Mahasiswa = 81.66666666666667

In [ ]:
#1. Rata-rata nilai Shafira
rataan_nilai_shafira = (85+75)/2
print("1. Rata-Rata Nilai Shafira =", rataan_nilai_shafira)

#2. Jumlah semua nilai Hanif dan Andi
nilai_hanif = (75+90)
nilai_andi = (70+75)
jumlah_nilai_hanif_andi = (nilai_hanif+nilai_andi)
print("2. Jumlah Semua Nilai Hanif dan Andi =", jumlah_nilai_hanif_andi)

#3. Rata-rata nilai Widya, Dhanar, Hikma, dan Nedia pada masing-masing mata kuliah
rataan_nilai_4siswa_kalkulus1 = (85+85+80+95)/4
rataan_nilai_4siswa_statistika = (85+85+75+80)/4
print("3. Rata-Rata Nilai Kalkulus 1 Widya, Dhanar, Hikma, dan Nedia =", rataan_nilai_4siswa_kalkulus1)
print("   Rata-Rata Nilai Metode Statistika Widya, Dhanar, Hikma, dan Nedia =", rataan_nilai_4siswa_statistika)

#4. Rata-rata nilai Kalkulus 1 semua mahasiswa
rataan_nilai_kalkulus1 = (85+80+75+95+85+75+70+85+80)/9
print("4. Rata-Rata Nilai Kalkulus 1 Semua Mahasiswa =", rataan_nilai_kalkulus1)

#5. Rata-rata nilai Metode Statistika semua mahasiswa
rataan_nilai_statistika = (75+90+80+80+85+90+75+85+75)/9
print("5. Rata-Rata Nilai Metode Statistika Semua Mahasiswa =", rataan_nilai_statistika)

1. Rata-Rata Nilai Shafira = 80.0
2. Jumlah Semua Nilai Hanif dan Andi = 310
3. Rata-Rata Nilai Kalkulus 1 Widya, Dhanar, Hikma, dan Nedia = 86.25
   Rata-Rata Nilai Metode Statistika Widya, Dhanar, Hikma, dan Nedia = 81.25
4. Rata-Rata Nilai Kalkulus 1 Semua Mahasiswa = 81.11111111111111
5. Rata-Rata Nilai Metode Statistika Semua Mahasiswa = 81.66666666666667

**Weekly Exercise 3**

In [ ]:
jam_kerja_1hari = 8
gaji_kerja_1jam = 30000

#1. Gaji Dwi pada bulan Agustus
jumlah_1bulan_agustus = 31
jumlah_tidak_masuk = 3
gaji_dwi_agustus = ((jumlah_1bulan_agustus-jumlah_tidak_masuk)*jam_kerja_1hari*gaji_kerja_1jam)
print("1. Gaji Dwi Pada Bulan Agustus =", gaji_dwi_agustus)

#2. Tunjangan yang diterima Dwi pada bulan Agustus
tunjangan = (10/100)
tunjangan_dwi_agustus = (tunjangan*gaji_dwi_agustus)
print("2. Jumlah Tunjangan Dwi Pada Bulan Agustus =", tunjangan_dwi_agustus)

#3. Gaji total Dwi pada bulan Agustus
jam_lembur = 5
gaji_lembur = 10000
total_gaji_dwi_agustus = ((jam_lembur*gaji_lembur)+gaji_dwi_agustus+tunjangan_dwi_agustus)
print("3. Gaji Total Dwi Pada Bulan Agustus =", total_gaji_dwi_agustus)

1. Gaji Dwi Pada Bulan Agustus = 6720000
2. Jumlah Tunjangan Dwi Pada Bulan Agustus = 672000.0
3. Gaji Total Dwi Pada Bulan Agustus = 7442000.0